dev-tvse-central-da-data-factory-workspace/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-tvse-central-da-data-factory-workspace"
		},
		"scheduledTrigger_properties_date_test_parameters_triggerTime": {
			"type": "string",
			"defaultValue": "@trigger().startTime"
		},
		"scheduledTrigger_properties_date_test_parameters_scheduledTime": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ERPcustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SALES_ACCOUNT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CUSTOMER_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "First_Name",
						"type": "nvarchar"
					},
					{
						"name": "Last_Name",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Date_of_Birth",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Relationship",
						"type": "nvarchar"
					},
					{
						"name": "Realative_name",
						"type": "nvarchar"
					},
					{
						"name": "Anniversary",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Company",
						"type": "nvarchar"
					},
					{
						"name": "Designation",
						"type": "nvarchar"
					},
					{
						"name": "Occupation",
						"type": "nvarchar"
					},
					{
						"name": "Residing_Nation",
						"type": "nvarchar"
					},
					{
						"name": "Nationality",
						"type": "nvarchar"
					},
					{
						"name": "Aadhar_No",
						"type": "nvarchar"
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "Type",
						"type": "nvarchar"
					},
					{
						"name": "PAN_ID",
						"type": "nvarchar"
					},
					{
						"name": "Passport_No",
						"type": "nvarchar"
					},
					{
						"name": "Followup_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Interested_in_Project",
						"type": "nvarchar"
					},
					{
						"name": "Interested_in_Sub_Project",
						"type": "nvarchar"
					},
					{
						"name": "Interested_in_Unit_Type",
						"type": "nvarchar"
					},
					{
						"name": "Lead_Type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Enquiry_Source",
						"type": "nvarchar"
					},
					{
						"name": "Sub_Enquiry_Source",
						"type": "nvarchar"
					},
					{
						"name": "Assign_To",
						"type": "nvarchar"
					},
					{
						"name": "Reference",
						"type": "nvarchar"
					},
					{
						"name": "Created_By",
						"type": "nvarchar"
					},
					{
						"name": "Lead_Created_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Closure_Target_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Date_of_Creation",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Residence_Street",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Country",
						"type": "nvarchar"
					},
					{
						"name": "Residence_State",
						"type": "nvarchar"
					},
					{
						"name": "Residence_City",
						"type": "nvarchar"
					},
					{
						"name": "Residence_PIN",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Phone1",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Phone2",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Mobile1",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Mobile2",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Street",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Country",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_State",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_City",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_PIN",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Phone1",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Phone2",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Mobile1",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Mobile2",
						"type": "nvarchar"
					},
					{
						"name": "Booking_type",
						"type": "nvarchar"
					},
					{
						"name": "Unit_No",
						"type": "nvarchar"
					},
					{
						"name": "Unit_Type",
						"type": "nvarchar"
					},
					{
						"name": "Booking_date",
						"type": "nvarchar"
					},
					{
						"name": "Booking_through",
						"type": "nvarchar"
					},
					{
						"name": "Finance",
						"type": "nvarchar"
					},
					{
						"name": "Payment_plan",
						"type": "nvarchar"
					},
					{
						"name": "Co_applicant_name",
						"type": "nvarchar"
					},
					{
						"name": "Co_Realationship",
						"type": "nvarchar"
					},
					{
						"name": "Co_Nationality",
						"type": "nvarchar"
					},
					{
						"name": "Co_Applicant_Aadhar_no",
						"type": "nvarchar"
					},
					{
						"name": "Co_Applicant_PAN_no",
						"type": "nvarchar"
					},
					{
						"name": "Agreement_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Registration_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Counter_discount_amount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Broker_discount_amount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Total_Discount_Amount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Total_agreement_value",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Net_charges_payable",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Net_taxes_payable",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Net_Payable",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CREATED_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "LEAD_AND_BOOKING"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GoogleAdWordsObject1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "google_adwords_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "GoogleAdWordsObject",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lead')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "lake/Salesforce_Azure",
						"fileSystem": "tvse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceObject1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce_Sample",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceObject2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce_Dev_Migration",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Inventory": {
						"type": "object",
						"defaultValue": "Inventory"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Apartment__c"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "lake/Salesforce_Migration",
						"fileSystem": "tvse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/delete_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ab-testing1.jpg",
						"folderPath": "data_factory",
						"fileSystem": "tvse"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/google_ads')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "temp1.json",
						"folderPath": "google-ads",
						"fileSystem": "tvse"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/google_ads_queries_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ads-queries.json",
						"folderPath": "google-ads/ads-meta-data",
						"fileSystem": "tvse"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"ads-account": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"queries": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"query": {
										"type": "string"
									},
									"id": {
										"type": "integer"
									},
									"name": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/inventory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce_Dev_Migration",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Apartment__c"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/scheduledTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "date_test",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerTime": "[parameters('scheduledTrigger_properties_date_test_parameters_triggerTime')]",
							"scheduledTime": "[parameters('scheduledTrigger_properties_date_test_parameters_scheduledTime')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-09-01T06:08:00Z",
						"endTime": "2020-09-04T06:08:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Inventory_Test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceObject2",
								"type": "DatasetReference",
								"parameters": {
									"Inventory": "Inventory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesforceObject2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lead')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": {
									"value": "select * from Lead ",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceObject2",
								"type": "DatasetReference",
								"parameters": {
									"Inventory": "Inventory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesforceObject2')]",
				"[concat(variables('factoryId'), '/datasets/csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/customerlanding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"maxConcurrentConnections": 4,
									"blockSizeInMB": 16
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ERPcustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Cutomerdata",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ERPLanding"
				},
				"annotations": [],
				"lastPublishTime": "2021-04-19T11:01:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ERPcustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/github_check_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "delete_dataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "google ads"
				},
				"annotations": [],
				"lastPublishTime": "2020-07-28T09:57:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/delete_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/github_check_pipeline_v1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "delete_dataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "google ads"
				},
				"annotations": [],
				"lastPublishTime": "2020-07-28T10:06:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/delete_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/google-ads-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "google_ads_queries_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookup').output.firstRow.ads",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "ads",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ads",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "execute query",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ads",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "queries",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "run_query_pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ads": {
												"value": "@variables('ads')",
												"type": "Expression"
											},
											"queries": {
												"value": "@variables('queries')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "queries",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "queries",
										"value": {
											"value": "@activity('lookup').output.firstRow.queries",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"ads": {
						"type": "String",
						"defaultValue": "[[\"8979592337\"]"
					},
					"queries": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "google ads"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T02:10:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/google_ads_queries_ds')]"
			]
		}
	]
}