pipeline/Getfilenamesdynamic.json
{
	"name": "Getfilenamesdynamic",
	"properties": {
		"activities": [
			{
				"name": "Getfilenames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "manualsheetsdataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getfilenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getfilenames').output.ChildItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "manualfilescopy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DelimitedText_SP",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "manualfilessinkdataset",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": "lake/erp/tokyo/test_columns",
										"foldername": "test"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "ERP-Dataingestion"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-03T12:46:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}