pipeline/google-ads-pipeline.json
{
	"name": "google-ads-pipeline",
	"properties": {
		"activities": [
			{
				"name": "lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "google_ads_queries_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup').output.firstRow.ads",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ads",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ads",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "execute query",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ads",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "queries",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "run_query_pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ads": {
										"value": "@variables('ads')",
										"type": "Expression"
									},
									"queries": {
										"value": "@variables('queries')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "queries",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "queries",
								"value": {
									"value": "@activity('lookup').output.firstRow.queries",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"ads": {
				"type": "String",
				"defaultValue": "[\"8979592337\"]"
			},
			"queries": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "google ads"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-29T02:10:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}