pipeline/manualsheets_dynamicload.json
{
	"name": "manualsheets_dynamicload",
	"properties": {
		"activities": [
			{
				"name": "Getfilenames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "manualsheetsdataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getfilenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getfilenames').output.ChildItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "manualseheetsload",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@pipeline().globalParameters.manualsheets",
									"type": "Expression"
								},
								"baseParameters": {
									"tablename": {
										"value": "@item().name",
										"type": "Expression"
									},
									"env": {
										"value": "@pipeline().globalParameters.environment",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "metadata_mgt_databricks_linked_service",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "manual_files_automation"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-03T12:46:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}