pipeline/tokyo_berlin_latest_file_process.json
{
	"name": "tokyo_berlin_latest_file_process",
	"properties": {
		"activities": [
			{
				"name": "Getfilenames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "tokyolatestfiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getfilenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getfilenames').output.ChildItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "manualfilescopy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "ACTIV_FLAG",
											"value": {
												"value": "'Y'",
												"type": "Expression"
											}
										},
										{
											"name": "EFF_DATE",
											"value": {
												"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
												"type": "Expression"
											}
										},
										{
											"name": "UPDATE_DATE",
											"value": {
												"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "customer_berlindataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "manualfilessinkdataset",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": "lake/erp/tokyo/test_columns",
										"foldername": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "ERP-Dataingestion"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-03T12:46:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}