dev-tvse-central-da-data-factory-workspace/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-tvse-central-da-data-factory-workspace"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDataLakeStorage2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage2'"
		},
		"AzureDataLakeStorage3_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage3'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"ERPCluster_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ERPCluster'"
		},
		"Salesforce1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Salesforce1'"
		},
		"Salesforce1_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'Salesforce1'"
		},
		"Salesforce_Dev_Migration_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Salesforce_Dev_Migration'"
		},
		"Salesforce_Dev_Migration_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'Salesforce_Dev_Migration'"
		},
		"Salesforce_Sample_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Salesforce_Sample'"
		},
		"Salesforce_Sample_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'Salesforce_Sample'"
		},
		"google_adwords_linked_service_developerToken": {
			"type": "secureString",
			"metadata": "Secure string for 'developerToken' of 'google_adwords_linked_service'"
		},
		"google_adwords_linked_service_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'google_adwords_linked_service'"
		},
		"google_adwords_linked_service_refreshToken": {
			"type": "secureString",
			"metadata": "Secure string for 'refreshToken' of 'google_adwords_linked_service'"
		},
		"tvse_google_adwords_developerToken": {
			"type": "secureString",
			"metadata": "Secure string for 'developerToken' of 'tvse_google_adwords'"
		},
		"tvse_google_adwords_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'tvse_google_adwords'"
		},
		"tvse_google_adwords_refreshToken": {
			"type": "secureString",
			"metadata": "Secure string for 'refreshToken' of 'tvse_google_adwords'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://prodcentralstorage.dfs.core.windows.net"
		},
		"AzureDataLakeStorage2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devcentalstorage.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage3_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devcentalstorage.dfs.core.windows.net/"
		},
		"Salesforce1_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://login.salesforce.com"
		},
		"Salesforce1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "deepak.kumar@tvsmotor.com"
		},
		"Salesforce_Dev_Migration_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://login.salesforce.com"
		},
		"Salesforce_Dev_Migration_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "deepak.kumar@tvsmotor.com"
		},
		"Salesforce_Sample_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://login.salesforce.com"
		},
		"Salesforce_Sample_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "deepak.kumar@tvsmotor.com"
		},
		"adls_linked_service_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devcentalstorage.dfs.core.windows.net"
		},
		"google_adwords_linked_service_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "760443842250-qi75f4pjn0tdmob74f9iu4pv4u035rcm.apps.googleusercontent.com"
		},
		"tvse_google_adwords_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "760443842250-qi75f4pjn0tdmob74f9iu4pv4u035rcm.apps.googleusercontent.com"
		},
		"scheduledTrigger_properties_date_test_parameters_triggerTime": {
			"type": "string",
			"defaultValue": "@trigger().startTime"
		},
		"scheduledTrigger_properties_date_test_parameters_scheduledTime": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Inventory_Test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceObject2",
								"type": "DatasetReference",
								"parameters": {
									"Inventory": "Inventory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesforceObject2')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lead')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": {
									"value": "select * from Lead ",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceObject2",
								"type": "DatasetReference",
								"parameters": {
									"Inventory": "Inventory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesforceObject2')]",
				"[concat(variables('factoryId'), '/datasets/csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/customerlanding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"maxConcurrentConnections": 4,
									"blockSizeInMB": 16
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ERPcustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Cutomerdata",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ERPLanding"
				},
				"annotations": [],
				"lastPublishTime": "2021-04-19T11:01:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ERPcustomer')]",
				"[concat(variables('factoryId'), '/datasets/Cutomerdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/date_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "date",
							"value": {
								"value": "@pipeline().parameters.startTime",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"triggerTime": {
						"type": "string",
						"defaultValue": "@pipeline().TriggerTime"
					},
					"startTime": {
						"type": "string",
						"defaultValue": "@trigger().outputs.windowStartTime"
					},
					"endTime": {
						"type": "string",
						"defaultValue": "@trigger().outputs.windowEndTime"
					},
					"scheduledTime": {
						"type": "string",
						"defaultValue": "@trigger().scheduledTime\t"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "google ads"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T02:10:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev-google-ads-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('queries')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "query_var",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "test",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"ads": {
						"type": "Array",
						"defaultValue": [
							"423432432",
							"343434324"
						]
					},
					"queries": {
						"type": "Array",
						"defaultValue": [
							"[['{\"key\":\"val\"}']"
						]
					},
					"test": {
						"type": "String"
					}
				},
				"folder": {
					"name": "google ads"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T02:10:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/github_check_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "delete_dataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "google ads"
				},
				"annotations": [],
				"lastPublishTime": "2020-07-28T09:57:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/delete_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/github_check_pipeline_v1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "delete_dataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "google ads"
				},
				"annotations": [],
				"lastPublishTime": "2020-07-28T10:06:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/delete_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/google-ads-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "google_ads_queries_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookup').output.firstRow.ads",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "ads",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ads",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "execute query",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ads",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "queries",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "run_query_pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ads": {
												"value": "@variables('ads')",
												"type": "Expression"
											},
											"queries": {
												"value": "@variables('queries')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "queries",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "queries",
										"value": {
											"value": "@activity('lookup').output.firstRow.queries",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"ads": {
						"type": "String",
						"defaultValue": "[[\"8979592337\"]"
					},
					"queries": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "google ads"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T02:10:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/google_ads_queries_ds')]",
				"[concat(variables('factoryId'), '/pipelines/run_query_pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/run_query_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.queries",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "query",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "query",
										"value": {
											"value": "@string(item())",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ads": {
						"type": "string"
					},
					"queries": {
						"type": "array"
					}
				},
				"variables": {
					"query": {
						"type": "String"
					}
				},
				"folder": {
					"name": "google ads"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-29T02:10:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ERP": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SALES_ACCOUNT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CUSTOMER_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "First_Name",
						"type": "nvarchar"
					},
					{
						"name": "Last_Name",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Date_of_Birth",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Relationship",
						"type": "nvarchar"
					},
					{
						"name": "Realative_name",
						"type": "nvarchar"
					},
					{
						"name": "Anniversary",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Company",
						"type": "nvarchar"
					},
					{
						"name": "Designation",
						"type": "nvarchar"
					},
					{
						"name": "Occupation",
						"type": "nvarchar"
					},
					{
						"name": "Residing_Nation",
						"type": "nvarchar"
					},
					{
						"name": "Nationality",
						"type": "nvarchar"
					},
					{
						"name": "Aadhar_No",
						"type": "nvarchar"
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "Type",
						"type": "nvarchar"
					},
					{
						"name": "PAN_ID",
						"type": "nvarchar"
					},
					{
						"name": "Passport_No",
						"type": "nvarchar"
					},
					{
						"name": "Followup_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Interested_in_Project",
						"type": "nvarchar"
					},
					{
						"name": "Interested_in_Sub_Project",
						"type": "nvarchar"
					},
					{
						"name": "Interested_in_Unit_Type",
						"type": "nvarchar"
					},
					{
						"name": "Lead_Type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Enquiry_Source",
						"type": "nvarchar"
					},
					{
						"name": "Sub_Enquiry_Source",
						"type": "nvarchar"
					},
					{
						"name": "Assign_To",
						"type": "nvarchar"
					},
					{
						"name": "Reference",
						"type": "nvarchar"
					},
					{
						"name": "Created_By",
						"type": "nvarchar"
					},
					{
						"name": "Lead_Created_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Closure_Target_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Date_of_Creation",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Residence_Street",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Country",
						"type": "nvarchar"
					},
					{
						"name": "Residence_State",
						"type": "nvarchar"
					},
					{
						"name": "Residence_City",
						"type": "nvarchar"
					},
					{
						"name": "Residence_PIN",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Phone1",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Phone2",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Mobile1",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Mobile2",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Street",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Country",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_State",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_City",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_PIN",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Phone1",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Phone2",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Mobile1",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Mobile2",
						"type": "nvarchar"
					},
					{
						"name": "Booking_type",
						"type": "nvarchar"
					},
					{
						"name": "Unit_No",
						"type": "nvarchar"
					},
					{
						"name": "Unit_Type",
						"type": "nvarchar"
					},
					{
						"name": "Booking_date",
						"type": "nvarchar"
					},
					{
						"name": "Booking_through",
						"type": "nvarchar"
					},
					{
						"name": "Finance",
						"type": "nvarchar"
					},
					{
						"name": "Payment_plan",
						"type": "nvarchar"
					},
					{
						"name": "Co_applicant_name",
						"type": "nvarchar"
					},
					{
						"name": "Co_Realationship",
						"type": "nvarchar"
					},
					{
						"name": "Co_Nationality",
						"type": "nvarchar"
					},
					{
						"name": "Co_Applicant_Aadhar_no",
						"type": "nvarchar"
					},
					{
						"name": "Co_Applicant_PAN_no",
						"type": "nvarchar"
					},
					{
						"name": "Agreement_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Registration_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Counter_discount_amount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Broker_discount_amount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Total_Discount_Amount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Total_agreement_value",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Net_charges_payable",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Net_taxes_payable",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Net_Payable",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CREATED_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "LEAD_AND_BOOKING"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cutomerdata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "lake/ERP-landing/Customer",
						"fileSystem": "tvse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "lake",
						"fileSystem": "tvse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "lake",
						"fileSystem": "tvse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "lake",
						"fileSystem": "tvse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ERPcustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SALES_ACCOUNT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CUSTOMER_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "First_Name",
						"type": "nvarchar"
					},
					{
						"name": "Last_Name",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Date_of_Birth",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Relationship",
						"type": "nvarchar"
					},
					{
						"name": "Realative_name",
						"type": "nvarchar"
					},
					{
						"name": "Anniversary",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Company",
						"type": "nvarchar"
					},
					{
						"name": "Designation",
						"type": "nvarchar"
					},
					{
						"name": "Occupation",
						"type": "nvarchar"
					},
					{
						"name": "Residing_Nation",
						"type": "nvarchar"
					},
					{
						"name": "Nationality",
						"type": "nvarchar"
					},
					{
						"name": "Aadhar_No",
						"type": "nvarchar"
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "Type",
						"type": "nvarchar"
					},
					{
						"name": "PAN_ID",
						"type": "nvarchar"
					},
					{
						"name": "Passport_No",
						"type": "nvarchar"
					},
					{
						"name": "Followup_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Interested_in_Project",
						"type": "nvarchar"
					},
					{
						"name": "Interested_in_Sub_Project",
						"type": "nvarchar"
					},
					{
						"name": "Interested_in_Unit_Type",
						"type": "nvarchar"
					},
					{
						"name": "Lead_Type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Enquiry_Source",
						"type": "nvarchar"
					},
					{
						"name": "Sub_Enquiry_Source",
						"type": "nvarchar"
					},
					{
						"name": "Assign_To",
						"type": "nvarchar"
					},
					{
						"name": "Reference",
						"type": "nvarchar"
					},
					{
						"name": "Created_By",
						"type": "nvarchar"
					},
					{
						"name": "Lead_Created_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Closure_Target_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Date_of_Creation",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Residence_Street",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Country",
						"type": "nvarchar"
					},
					{
						"name": "Residence_State",
						"type": "nvarchar"
					},
					{
						"name": "Residence_City",
						"type": "nvarchar"
					},
					{
						"name": "Residence_PIN",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Phone1",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Phone2",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Mobile1",
						"type": "nvarchar"
					},
					{
						"name": "Residence_Mobile2",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Street",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Country",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_State",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_City",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_PIN",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Phone1",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Phone2",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Mobile1",
						"type": "nvarchar"
					},
					{
						"name": "Permanent_Mobile2",
						"type": "nvarchar"
					},
					{
						"name": "Booking_type",
						"type": "nvarchar"
					},
					{
						"name": "Unit_No",
						"type": "nvarchar"
					},
					{
						"name": "Unit_Type",
						"type": "nvarchar"
					},
					{
						"name": "Booking_date",
						"type": "nvarchar"
					},
					{
						"name": "Booking_through",
						"type": "nvarchar"
					},
					{
						"name": "Finance",
						"type": "nvarchar"
					},
					{
						"name": "Payment_plan",
						"type": "nvarchar"
					},
					{
						"name": "Co_applicant_name",
						"type": "nvarchar"
					},
					{
						"name": "Co_Realationship",
						"type": "nvarchar"
					},
					{
						"name": "Co_Nationality",
						"type": "nvarchar"
					},
					{
						"name": "Co_Applicant_Aadhar_no",
						"type": "nvarchar"
					},
					{
						"name": "Co_Applicant_PAN_no",
						"type": "nvarchar"
					},
					{
						"name": "Agreement_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Registration_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Counter_discount_amount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Broker_discount_amount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Total_Discount_Amount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Total_agreement_value",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Net_charges_payable",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Net_taxes_payable",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Net_Payable",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CREATED_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "LEAD_AND_BOOKING"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GoogleAdWordsObject1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "google_adwords_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "GoogleAdWordsObject",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/google_adwords_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lead')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "lake/Salesforce_Azure",
						"fileSystem": "tvse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceObject1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce_Sample",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Salesforce_Sample')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceObject2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce_Dev_Migration",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Inventory": {
						"type": "object",
						"defaultValue": "Inventory"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Apartment__c"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Salesforce_Dev_Migration')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "lake/Salesforce_Migration",
						"fileSystem": "tvse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/delete_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ab-testing1.jpg",
						"folderPath": "data_factory",
						"fileSystem": "tvse"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/google_ads')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "temp1.json",
						"folderPath": "google-ads",
						"fileSystem": "tvse"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/google_ads_queries_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ads-queries.json",
						"folderPath": "google-ads/ads-meta-data",
						"fileSystem": "tvse"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"ads-account": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"queries": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"query": {
										"type": "string"
									},
									"id": {
										"type": "integer"
									},
									"name": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/inventory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce_Dev_Migration",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Apartment__c"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Salesforce_Dev_Migration')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage3_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage3_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ERPCluster')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-232882371638616.16.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ERPCluster_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "8.1.x-cpu-ml-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('Salesforce1_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('Salesforce1_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Salesforce1_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('Salesforce1_securityToken')]"
					},
					"apiVersion": "56.0"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce_Dev_Migration')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('Salesforce_Dev_Migration_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('Salesforce_Dev_Migration_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Salesforce_Dev_Migration_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('Salesforce_Dev_Migration_securityToken')]"
					},
					"apiVersion": "56.0"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce_Sample')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('Salesforce_Sample_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('Salesforce_Sample_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Salesforce_Sample_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('Salesforce_Sample_securityToken')]"
					},
					"apiVersion": "56.0"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adls_linked_service_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/google_adwords_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GoogleAdWords",
				"typeProperties": {
					"clientCustomerID": "8979592337",
					"developerToken": {
						"type": "SecureString",
						"value": "[parameters('google_adwords_linked_service_developerToken')]"
					},
					"authenticationType": "UserAuthentication",
					"clientId": "[parameters('google_adwords_linked_service_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('google_adwords_linked_service_clientSecret')]"
					},
					"refreshToken": {
						"type": "SecureString",
						"value": "[parameters('google_adwords_linked_service_refreshToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tvse_google_adwords')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GoogleAdWords",
				"typeProperties": {
					"clientCustomerID": "8979592337",
					"developerToken": {
						"type": "SecureString",
						"value": "[parameters('tvse_google_adwords_developerToken')]"
					},
					"authenticationType": "UserAuthentication",
					"clientId": "[parameters('tvse_google_adwords_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('tvse_google_adwords_clientSecret')]"
					},
					"refreshToken": {
						"type": "SecureString",
						"value": "[parameters('tvse_google_adwords_refreshToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/scheduledTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "date_test",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerTime": "[parameters('scheduledTrigger_properties_date_test_parameters_triggerTime')]",
							"scheduledTime": "[parameters('scheduledTrigger_properties_date_test_parameters_scheduledTime')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-09-01T06:08:00Z",
						"endTime": "2020-09-04T06:08:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/date_test')]"
			]
		}
	]
}